@font-face {
    font-family: 'Inter UI';

    src: url('Inter-Regular.woff2') format('woff2');

    font-display: block;
}
@font-face {
    font-family: 'Inter UI';
    font-weight: bold;

    src: url('Inter-Bold.woff2') format('woff2');

    font-display: block;
}

@font-face {
    font-family: 'Inter UI';
    font-style: italic;

    src: url('Inter-Italic.woff2') format('woff2');

    font-display: block;
}
@font-face {
    font-family: 'Inter UI';
    font-weight: bold;
    font-style: italic;

    src: url('Inter-BoldItalic.woff2') format('woff2');

    font-display: block;
}
