@mixin all {
    display: inline-block;
    box-sizing: border-box;

    flex: 1 1 auto;

    white-space: pre-wrap;

    vertical-align: top;

    overflow: visible;

    user-select: none;
}

@mixin block {
    @include all;

    display: inline-flex;
    flex-flow: row nowrap;

    flex: 1 1 auto;

    max-width: 100%;
    max-height: 100%;

    overflow: visible;

    align-self: stretch;
}

%scrollbars {
    /*
    scrollbar
    scrollbar-button
    scrollbar-track
    scrollbar-track-piece
    scrollbar-thumb
    scrollbar-corner
    resizer
    */

    &::-webkit-scrollbar {
        width: 1ch;
        height: 1ch;
    }
    &::-webkit-scrollbar-button {
        display: none;
    }
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-corner {
        background: $bkg;
    }
    &::-webkit-scrollbar-thumb {
        background: $bkg-main;
        &:hover {
            background: mix($bkg-main, $bkg-main-dark);
        }
        &:active {
            background: $bkg-main-dark;
        }
    }
}
