@import 'all';
@import 'fonts';

.editor {
    @include all;

    display: inline-block;

    flex: 0 1 auto;
    flex-flow: row wrap;

    min-height: fit-content;

    .section {
        display: inline-block;

        .title {
            @include fonts;

            display: block;
        }
    }

    &.textEdit {
        button {
            margin: 0;
        }
    }
}
