@import 'fonts';
@import 'all';

.editor {
    @include all;

    display: inline-block;

    flex: 0 1 auto;
    flex-flow: row wrap;

    min-height: fit-content;

    .section {
        display: inline-block;

        .title {
            display: block;

            font-size: $font-size;
            font-family: $font-family;
        }
    }

    &.textEdit {
        button {
            margin: 0;
        }
    }
}
