@import 'all';
@import 'fonts';

.reorderable-block {
    @include block;

    .separator {
        align-self: stretch;

        flex: 0 0 auto;

        position: relative;
        z-index: 5;

        height: 1px;

        margin: 2px 0;

        background: rgba(128, 128, 128, 0.4);

        &.active {
            outline: 8px solid rgba(128, 128, 128, 0.4);
        }
    }
}

.tab-block {
    @include block;

    flex-flow: column nowrap;

    .tabs {
        display: flex;
        flex-flow: row nowrap;

        flex: 0 0 auto;

        padding-left: 1px;

        button {
            @include fonts;

            position: relative;
            z-index: 1;

            flex: 1 1 auto;

            padding: 4px 8px;
            margin-left: -1px;

            background: $bkg-main;

            border: 1px solid $bkg-main-dark;
            outline: none;

            &:hover {
                background: mix($bkg-main, $bkg-active, 50%);
                border-color: mix($bkg-main-dark, $bkg-active-dark, 50%);

                z-index: 2;
            }

            &.active,
            &:active {
                background: $bkg-active;
                border-color: $bkg-active-dark;

                color: $text-active;

                z-index: 2;
            }
        }
    }

    .content {
        display: flex;

        flex: 1 1 100%;
        flex-flow: column nowrap;
        align-items: stretch;
    }
}
