@import 'all';
@import 'colors';
@import 'fonts';

@keyframes move {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

%text {
    white-space: pre-wrap;
    line-height: 1em;
    word-break: break-word;
    line-height: normal;

    p,
    span,
    h1 {
        margin: 0;

        display: block;
        font-weight: normal;

        -webkit-margin-collapse: collapse;
        -webkit-margin-collapse: separate;
    }

    p {
        margin: 1em 0;
        margin-top: 0;
    }
    span + p {
        margin-top: 1em;
    }

    h1 {
        font-size: 2em;

        margin: 0.5em 0;
        margin-top: 0;
    }
    span + h1 {
        margin-top: 0.5em;
    }
}

.printPreview {
    @include all;

    display: inline-flex;
    flex-flow: column nowrap;

    flex: 1 1 auto;

    align-self: stretch;

    border: 1px solid $bkg-dark;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    overflow: hidden;

    .controls {
        display: flex;
        flex-flow: row wrap;

        flex: 0 0 auto;

        padding: 4px 6px;

        background: $bkg-main;
        border-bottom: 1px solid $bkg-main-dark;

        .view {
            display: flex;
            flex-flow: row wrap;

            flex: 0 0 auto;

            margin-left: auto;
        }
    }

    .scroll {
        display: flex;

        flex: 1 1 100%;

        overflow: auto;
        overflow-y: scroll;

        cursor: -webkit-grab;

        &::-webkit-scrollbar {
            width: 1ch;
            height: 1ch;

            background: $bkg-main;
        }
        &::-webkit-scrollbar-button {
            display: none;
        }
        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-corner {
            background: $bkg-main;
        }
        &::-webkit-scrollbar-thumb {
            background: $bkg-dark;

            &:active {
                background: $bkg-main-dark;
            }
        }
    }

    .pages {
        display: inline-block;

        padding: 5px;
        margin: 0 auto;
    }

    .page {
        margin: 5px;
        margin-bottom: 10px;

        display: block;

        .page-scale {
            @extend %text;

            display: inline-block;

            box-sizing: border-box;

            //overflow: hidden;

            transform-origin: top left;
        }

        background: white;
        overflow: hidden;

        box-shadow: 1px 2px 6px 3px rgba(0, 0, 0, 0.3);

        .square {
            display: inline-block;

            vertical-align: top;

            width: 21mm;
            height: 21mm;

            background: red;
        }
    }
}

.printElement {
    display: none;

    padding: 0;

    @extend %text;
}

@media print {
    body > :not(.printElement) {
        display: none;
    }

    html,
    body {
        display: block !important;
        margin: 0 !important;
        padding: 0 !important;
        width: auto !important;
        height: auto !important;
        overflow: visible !important;
    }

    .printElement {
        display: block;
        padding: 0;

        .page {
            page-break-before: always;
            page-break-inside: avoid;
        }
    }

    @page {
        margin: 0;
    }
}
